<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-item>
      <ion-label position="floating">Nom d'utilisateur</ion-label>
      <ion-input [(ngModel)]="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="login()">Se connecter</ion-button>

    <div class="signup-link">
      Vous n'avez pas de compte ? <a href="/inscription">Inscrivez-vous ici</a>
    </div>
  </div>
</ion-content>

