<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Announces</ion-title>


    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterByCategory()">
      <ion-select-option value="all">All</ion-select-option>
      <ion-select-option value="Pc">PC</ion-select-option>
      <ion-select-option value="Phones">Phones</ion-select-option>
      <ion-select-option value="Cars">Cars</ion-select-option>
      <ion-select-option value="Books">Books</ion-select-option>

    </ion-select>
    <div class="bg-img">
      <ion-list>
        <ion-item *ngFor="let annonce of annonces" class="annonce-item" (click)="onItemClick(annonce._id)">
          <ion-thumbnail slot="start">
            <img [src]="annonce.Images" alt="Miniature de l'annonce" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ annonce.name }}</h2>
            <p>{{ annonce.description }}</p>
          </ion-label>
          <ion-label slot="end" fill="clear">{{ annonce.Price }} DT</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="fab-container">
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button [routerLink]="'/announce-form'">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </ion-content>
</div>
